<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About ARGOOSE</title>
<link rel="stylesheet" href="about.css">
</head>
<body>

    <section class="about-us">
        <div class="about">
          <img src="img/cover.png" class="pic">
          <div class="text">
            <h2>Argoose</h2>
            <h5>Counter Drone System</h5>
                <p>
                    The heightened usage of drones has given rise to concerns about security, 
                    which has subsequently increased the demand for timely identification and prevention of unauthorized drones.
                    Instances of drone sightings in areas prohibited for drone usage and near vital infrastructure underscore the 
                    significance of resolving this issue.Especially near airports, drones pose a significant risk due to their potential to 
                    interfere with flight operations. The presence of drones in and around airports can endanger the lives of passengers and crew, 
                    and result in costly damages to aircraft. Even a small drone can cause severe damage if it collides with an aircraft in flight or on the ground.
                    Therefore, it is essential to detect and mitigate unauthorized drone activity in and around airports to ensure safe and uninterrupted flight operations. 
                    Ensuring public safety relies heavily on efficient drone detection, and specialists 
                    stress the requirement for measures that can mitigate current drone-related problems. Our sponsor Dr Christopher McMurrough provided us a budget of $600 and a time period of 8 months to complete this project.
                </p>
                <p>
                    After conducting thorough research, we discovered that there are three primary methods for detecting drones:
                </p>
                <ol>
                    <li>
                        <span>Acoustic sensors</span>This method utilizes microphones to recognize the unique sound signature of drones. However, acoustic sensors can face limitations in noisy environments and would require a more sensitive sensor which was out of the budget that our sponsor provided.
                    </li>
                    <li>
                        <span>Radar</span> This detection method uses radio waves to detect drones and provides information about their distance, speed, and altitude. Although radar systems are effective, they can be costly, and small drones can be challenging to detect due to their low radar cross-sections.
                    </li>
                    <li>
                        <span>Vision-based approaches</span>This approach uses cameras and computer vision algorithms to detect and track drones with high accuracy. However, this method requires additional computational resources, making it a more complex solution than the other two detection methods.
                    </li>
                </ol>
                <p>
                    Comparing all the options, we chose to use a vision based approach for detecting drones. Our project uses YOLO(You Only Look Once) version 7, a computer vision algorithm that uses PyTorch as its base for coding, to provide a more reliable and cost-effective solution.
                </p>
            <div class="data">
            <a href="https://github.com/tri2401/ARGOOSE-WEBAPP" class="github">GitHub Repository</a>
            </div>
          </div>
        </div>
      </section>

    <h2 style="text-align:center">Meet Our Team</h2>
    <div class="row">
    <div class="column">
        <div class="card">
        <img src="img/person.png" alt="James" style="width:100%">
        <div class="container">
            <h2>James Grumbles</h2>
            <p class="title">Point of Contact</p>
            <p>Description of primary responsibilities</p>
            <p>james.grumbles@mavs.uta.edu</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="img/person.png" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Augustine Nguyen</h2>
            <p class="title">Developer</p>
            <p>Description of primary responsibilities</p>
            <p>augustine.nguyen@mavs.uta.edu</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
        <img src="img/person.png" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Mahin Roddur</h2>
            <p class="title">Machine Learning</p>
            <p>Description of primary responsibilities</p>
            <p>mahin.roddur@mavs.uta.edu</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
        <img src="img/person.png" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Nirdesh Sakh</h2>
            <p class="title">Developer</p>
            <p>Description of primary responsibilities</p>
            <p>nirdesh.sakh@mavs.uta.edu</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    
    <div class="column">
        <div class="card">
        <img src="img/person.png" alt="John" style="width:100%">
        <div class="container">
            <h2>Sanyogita Piya</h2>
            <p class="title">Developer</p>
            <p>Description of primary responsibilities</p>
            <p>sanyogita.piya@mavs.uta.edu</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    </div>

</body>
</html>
